.layout-container {
  height: 100vh;
  display: flex;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.layout-sider {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 200px;
  z-index: 100;
  overflow-y: auto;
}

.layout-sider.light-theme {
  background-color: #ffffff;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
}

.layout-sider.dark-theme {
  background-color: #001529;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
}

.layout-logo {
  background-repeat: no-repeat;
  background-size: contain;
  height: 140px;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

body.light-theme .layout-logo {
  background-image: url('../../assets/logo/logoWhite.png');
}

body.dark-theme .layout-logo {
  background-image: url('../../assets/logo/logoBlack.png');
}

body.light-theme .layout-sider .ant-menu-item {
  color: #000;
}

body.light-theme .layout-sider .ant-menu-item:hover {
  background-color: #e6f7ff;
}

body.dark-theme .layout-sider .ant-menu-item {
  color: #fff;
}

body.dark-theme .layout-sider .ant-menu-item:hover {
  background-color: #001529;
}

body.light-theme .layout-sider .ant-menu-item-active,
body.dark-theme .layout-sider .ant-menu-item-active {
  background-color: #1890ff;
}

.layout-header {
  background-color: #001529;
  padding: 0 20px;
  display: flex;
  align-items: center;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  z-index: 50;
}

.layout-header-title {
  color: white;
  margin: 0;
  font-size: 18px;
}

.layout-content {
  margin-left: 200px;
  padding: 20px;
  overflow-y: auto;
  flex-grow: 1;
}

.layout-content.light-theme {
  background-color: #ffffff;
}

.layout-content.dark-theme {
  background-color: #333333;
}
.card-container {
  transition: transform 0.2s ease;
}

.light-theme .card-container {
  background-color: #f9f9f9;
  border: 1px solid #d9d9d9;
}

.dark-theme .card-container {
  background-color: #333333;
  border: 1px solid #666666;
}

.language-selector {
  padding: 10px;
}

.language-selector button {
  margin: 0 5px;
  padding: 5px 10px;
  background-color: #1677ff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.language-selector button:hover {
  background-color: #40a9ff;
}

.theme-switcher {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  color: #fff;
  background-color: #f0f2f5;
}

body.light-theme .theme-switcher {
  background-color: White;
  color: #000;
}

body.dark-theme .theme-switcher {
  background-color: #001529;
  color: #fff;
}

.theme-switcher .ant-switch {
  background-color: #d9d9d9;
  border-color: #d9d9d9;
}

body.light-theme .theme-switcher .ant-switch {
  background-color: #1890ff;
  border-color: #1890ff;
}

body.dark-theme .theme-switcher .ant-switch {
  background-color: #333;
  border-color: #333;
}

body.light-theme .ant-btn,
body.dark-theme .ant-btn {
  background-color: transparent;
  color: inherit;
  border: none;
}

body.light-theme .ant-btn:hover,
body.dark-theme .ant-btn:hover {
  background-color: transparent;
}

body.light-theme .ant-input,
body.dark-theme .ant-input {
  border-radius: 8px;
  border-color: #d9d9d9;
  transition: border-color 0.3s ease;
}

body.light-theme .ant-input:focus,
body.dark-theme .ant-input:focus {
  border-color: #1890ff;
  box-shadow: 0 0 8px rgba(24, 144, 255, 0.2);
}

body.light-theme {
  background-color: #f0f2f5;
  color: #000;
}

body.dark-theme {
  background-color: #333333;
  color: #fff;
}

body.light-theme .ant-layout {
  background-color: #f0f2f5;
  color: #000;
}

body.dark-theme .ant-layout {
  background-color: #333333;
  color: #fff;
}